.hidebar {
  top: -100%;
}

.showbar {
  top: 0;
  transition: 450ms;
}


.shadowbox:focus {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF
}

.shadowred:focus {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFD3CC
}
/* 
.checkbox{
  background-color: black;
} */
