body {
  scroll-behavior: smooth;
  padding-bottom: 300px;
}

.hidebar {
  top: -100%;
}

.showbar {
  top: 0;
  transition: 450ms;
}


.shadowbox:focus {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF
}

.shadowred:focus {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #FFD3CC
}

.inter500 {
  font-weight: 500;
}

.inter400 {
  font-weight: 400;
}

.inter600 {
  font-weight: 400;
}
/* 
.checkbox{
  background-color: black;
} */
